*{
    margin: 0;
    padding: 0;
    font-family: "Anton",sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: black;
}
.container>span{
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 21px #f60b51;
    border-radius: 2px;
    bottom: -10%;
    animation: move 10s linear infinite;
    animation-delay: calc(var(--i) * .6s);

    
}
span:nth-child(1){
    left: 20%;
}
span:nth-child(2){
    left: 10%;
}span:nth-child(3){
    left: 80%;
}
span:nth-child(4){
    left: 40%;
}
span:nth-child(5){
    left: 0%;
}
span:nth-child(6){
    left: 55%;
}
span:nth-child(7){
    left: 5%;
}
span:nth-child(8){
    left: 33%;
}
span:nth-child(9){
    left: 28%;
}
span:nth-child(10){
    left: 54%;
}
span:nth-child(11){
    left: 39%;
}
span:nth-child(12){
    left: 98%;
}
span:nth-child(13){
    left: 9%;
}
span:nth-child(14){
    left: 60%;
}
span:nth-child(15){
    left: 68%;
}
@keyframes move{
    0%{
        transform: translateY(0) rotate(0);
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
    }
}
h2{
    font-size: 80px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
    letter-spacing: 13px;
}