@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@500&family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Anton",sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #a855f7;
    overflow: hidden;
}
span{
    position: relative;
    top: 20px;
    color: #fff;
    display: inline-block;
    font-size: 3em;
    text-shadow:
    0 1px 0 #b7b7b7, 
    0 2px 0 #b7b7b7, 
    0 3px 0 #b7b7b7, 
    0 4px 0 #b7b7b7, 
    0 5px 0 #b7b7b7, 
    0 6px 0 transparent, 
    0 7px 0 transparent, 
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgb(0, 0, 0,0.5);
    animation: move .4s ease infinite alternate;
    animation-delay: calc(var(--i)*.1s);
}
@keyframes move{
    100%{
        top: -20px;
        text-shadow: 
        0 1px 0 #ccc,
        0 2px 0 #ccc,
        0 3px 0 #ccc,
        0 4px 0 #ccc,
        0 5px 0 #ccc,
        0 6px 0 #ccc,
        0 7px 0 #ccc,
        0 8px 0 #ccc,
        0 9px 0 #ccc,
        0 60px 30px rgb(0, 0, 0,);

    }
}