
<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;  
}
body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:var(--clr);
}
:root
{
 --clr: #222327;
}
.navigation {
position: relative;
width: 400px;
height: 70px;
background: #fff;
display:flex ;
justify-content:center ;
align-items:center ;
border-radius: 10px;

}
.navigation ul{
    display: flex;
    width: 350px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight:500 ;

}
 .navigation ul li a.ionicons
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.navigation ul li :hover a .ionicons
{
transform: translateY(-35px);

}

