@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@500&family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Teko",sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #252839;
}
h1{
    position: relative;
    font-size: 13vw;
    color: transparent;
    -webkit-text-stroke: .3vw #383d52;
    text-transform: uppercase;
    user-select: none;

}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color:#01fe87;
    -webkit-text-stroke: 0 #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    text-shadow: 0 0 5px #01fe87,
                 0 0  10px #01fe87,
                 0 0 15px #01fe87,
                 0 0 20px #01fe87;
    animation:move 6s linear infinite;
}
@keyframes move{
    0%,
    10%,
    100%{
        width: 0;


    }
    70%,
    90%{
        width: 100%;

    }
}