*{
    margin: 0;
    padding: 0;
    font-family: "Anton",sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
label{
    width: 470px;
    height: 180px;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow: 0  5px 15px ;
    position: relative;
    transition: all 2s;
}
label::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg ,#dc7e04 ,#d8860d);
    border-radius: 50%;
    top: 10px;
    left: 10px;
    transition: all 2s;
}
input{
  display: none;

}
input:checked ~ label{
    background: #242424;
}
input:checked ~ label::after{
    left: 65%;
}
label:active::after{
    width: 180%;
}
input:checked ~ label span{
    color: #fff;

}
label>span{
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 50px;
    z-index: 2;
}
label>span:nth-child(2){
    left: 78%;
}
.background{
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    left: 0;
    z-index: -5;
    transition: all 2s;
}
input:checked ~ .background{
    background: #000;
}