*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif

}
body{
    color: #c2ccd4;
    background: url(https://img.freepik.com/free-vector/dark-gradient-hexagonal-background_52683-63120.jpg?ga=GA1.1.1932898255.1725905825&semt=ais_hybrid) no-repeat;
    background-size:cover;
    background-position:left;
}
.header {
position: fixed;
top: 0;
left:0;
width: 100%;
padding:20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    position: relative;
    font: size 25px;     
    color: #c2ccd4;
    text-decoration: none;
    font-weight: 600;

}
.logo ::before {
    content: '';
    position: absolute;
    top: 0%;
    right:0%;
    width: 100%;
    height: 100%;
    background: rgb(12, 3, 3);
    animation: showright linear ease forwards;
    animation-delay: .4s;


}
.navbar a{
    font-size: 18px;
    color: #c2ccd4;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px; 
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active{
    background-color:#518aac;

}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0%,10%;
}

.homecontent {
    max-width: 600px;
    padding-left: 5%;
}
.homecontent h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
}
.homecontent p{
    font-size: 16px;
    margin: 20px 0 40px;


}
.homecontent .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;

} 
.btn-box a:nth-child(2)
{
    background: transparent;
    color: #00abf0;

}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 0%;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 1s;

}
.btn-box a:hover::before {
    width: 100%;

}
.homesci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
    display: flex;

}
.homesci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

}
.homesci a::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 1s;
}
.homesci a:hover::before
{
    width: 100%;
}
@keyframes showright{
    100%{
        width:0;
 
    }
}